*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
}
body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}
input, button, textarea, select{
    font: inherit;
}

:root{
    --container-padding: 1rem;
}
img{
    width: 1rem;;
}

.container{
    display: grid;
    grid-template: minmax(auto, 10rem) 4fr / minmax(15rem, 1fr) 4fr;
    height: 100%;
}

.dashboard,
.dashboard > div + div{
    display: flex;
    flex-direction: column;
}
.dashboard{
    grid-row: 1 / -1;
    gap: 2rem;
    background-color: blue;
    color: white;
    padding: var(--container-padding);
}
.dashboard-title,
.dashboard-main > div,
.dashboard-secondary > div{
    display: flex;
    align-items: center;
}
.dashboard img{
    margin: 0.5rem;
}

.top-bar{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: var(--container-padding);
    gap: 1.5rem;
}   
.top-bar > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.top-bar > .greeting-bar{
    column-gap: 1rem;
    justify-content: flex-start;
}
.greeting-message{
    font-size: 0.8rem;
    line-height: 1.15;
}
.greeting-message span{
    font-size: 1.5rem;
}
.greeting-bar img{
    width: 3rem;
}
.search-bar > input,
.media-bar > div{
    flex: 1;
}
.media-bar > div{
    background-color: blue;
    color: white;
    border-radius: 1rem;
    text-align: center;
}

.content{
    display: flex;
    background-color: lightgray;
    padding: var(--container-padding);
}
.projects{
    flex: 3;
}
.project-container{
    display: grid;
    margin: var(--container-padding) 0;
    gap: 1.5rem;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.card{
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    padding: var(--container-padding);
    background-color: white;
}
.card-media{
    display: flex;
    align-items: end;
    justify-content: end;
}
.news-and-media{
    flex: 1;
    padding: 0 var(--container-padding);
}
.announcement-container{
    display: grid;
    grid-auto-rows: min-content;
    margin: var(--container-padding) 0;
    padding: 0.5rem 1.5rem;
    background-color: white;
}
.announcement-container > div{
    padding: 1rem 0.5rem;
    border-bottom: 2px solid darkgray;
}
.announcement-container > div:last-child{
    border-bottom: none;
}